* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #2148c0;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

::placeholder {
  color: white;
  font-weight: 300;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-wrapper {
  width: 300px;
}

.input-wrapper input {
  width: 100%;
  height: 45px;
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 10px;
}

.input-wrapper input:focus-visible {
  outline: none;
}

.login-btn {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  color: #2148c0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.input-wrapper .input-inner {
  display: flex;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}

.input-wrapper .input-inner .user-icon {
  height: 45px;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.password-wrapper {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: end;
  margin-top: 11px;
  cursor: pointer;
}

.password-wrapper:hover {
  text-decoration: underline;
}

.cart-image {
  text-align: center;
  margin-bottom: 70px;
}
